@import "tailwindcss";

@theme {
  --font-blackHanSans: "Black Han Sans", sans-serif;
  --font-redHatDisplay: "Red Hat Display", sans-serif;

  --color-BM_Green: #38754E;
  --color-BM_Orange: #F2790F;
  --color-BM_Black: #303030;
  --color-BM_background: #FDEFE2;
  --color-BM_AboutLine: #D9D9D9;
  --color-BM_Bars: #FFFFFF;
}

.premium-input {
  @apply w-full p-2.5 text-sm border border-gray-300 rounded-xl shadow-sm 
  focus:ring-2 focus:ring-blue-400 focus:border-blue-500 outline-none
  transition bg-white;
}
